<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>navbar}}
    <h1 class="text-center">404 Page Not Found !!!!!</h1>
    {{>footerlink}}
    {{>footer}}
</body>
</html>